* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bilbo Swash Caps", cursive;
  cursor: url(img/inactive_sword.png), auto;
}

body {
  background: rgb(20, 52, 36);
  background: linear-gradient(0deg, rgba(20, 52, 36, 1) 0%, rgba(101, 206, 151, 1) 100%);
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
  opacity: 0.7;
}

p {
  font-size: 1.5em;
}
#wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

#right {
  position: fixed;
  right: 0;
  top: 0;
}

#timeline {
  padding-top: 80px;
  height: auto;
  width: 600px;
  margin: auto;
}

#timeline svg {
  width: 100%;
  height: auto;
}

#map svg {
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
}

.zoomin {
  transform: scale(2.6);
}

#map {
  height: 60vh;
  overflow: scroll;
  width: 40vw;
  background: #f2edd7;
}

#map img {
  width: 100%;
}

#map img:hover {
  transform: scale(2);
}

#scene {
  background-color: green;
  height: 40vh;
  width: 40vw;

  /* Chris */

  display: grid;
  grid-template-columns: 1fr 1fr;
}
.svg {
  width: 70px;
}
.right {
  float: right;
}
#goodLeft {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: blue;
}
#badRight {
  width: 100%;
  overflow: auto;
  height: 100%;
  background-color: red;
}
.icon {
  animation-name: icon;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

@keyframes icon {
  0% {
    opacity: 0;
    transform: translatex(-5vw);
  }

  25% {
  }

  50% {
    opacity: 1;
  }

  70% {
    transform: translatex(2vw);
  }

  100% {
    transform: translatex(0vw);
  }
}
.right {
  animation-name: right;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

@keyframes right {
  0% {
    opacity: 0;
    transform: translatex(5vw);
  }

  25% {
  }

  50% {
    opacity: 1;
  }

  70% {
    transform: translatex(-2vw);
  }

  100% {
    transform: translateX(0vw);
  }
}

.show-location {
  opacity: 1;
}

.colorfill {
  transition: 1s ease-in-out;
}
.modal {
  width: 50vw;
  height: 500px;
  background: url(img/1.jpg);
  background-position: center;
  background-size: 120%;
  background-repeat: repeat;
  position: fixed;
  left: 5vw;
  display: none;
  top: calc(50vh - 250px);
  padding: 20px;
  overflow: scroll;
}

.modal h1,
.modal h2,
.modal p {
  margin-bottom: 10px;
}

#close {
  width: 20px;
  height: 22px;
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2em;
}

.battle:hover {
  cursor: url(img/active_sword.png), auto;
}

.dead {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 5s linear alternate forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.title_box {
  text-align: center;
  background: url(img/Classic-magical-movie-The-Lord-of-the-Rings_3840x1200.jpg);
  background-size: 100%;
  padding: 50px 0;
  margin-bottom: -1px;
}

.title_box h1,
.title_box h2 {
  color: white;
}

.animation--fade.animation--visible {
  opacity: 1;
  transition: 0.4s;
  transition-delay: 0.1s;
}

.animation--fade {
  opacity: 0;
}

.animation {
  opacity: 0;
}

.battle {
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.89);
  position: absolute;
  top: 0;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.37);
  left: calc(30vw - 30px);
  opacity: 0;
}

#battle1 {
  top: 280px;
}

#battle2 {
  top: 440px;
}

#battle3 {
  top: 550px;
}

#battle4 {
  top: 800px;
}

#battle5 {
  top: 1000px;
}

#battle6 {
  top: 1230px;
}

#battle7 {
  top: 1540px;
}

#battle8 {
  top: 1750px;
}

#battle9 {
  top: 1850px;
}

#battle10 {
  top: 2020px;
}

#battle11 {
  top: 2220px;
}

#battle12 {
  top: 2570px;
}

.battle_title1 {
  width: 30px;
  height: 30px;
  background: white;
  position: absolute;
  top: 0;
  border-radius: 100%;
  border: 1px solid black;
  left: calc(30vw - 30px);
  top: 200px;
  width: 60vw;
  text-align: center;
  background: none;
  border: none;
  left: 0;
}

.battle_title2 {
  width: 30px;
  height: 30px;
  background: white;
  position: absolute;
  top: 0;
  border-radius: 100%;
  border: 1px solid black;
  left: calc(30vw - 30px);
  top: 1080px;
  width: 60vw;
  text-align: center;
  background: none;
  border: none;
  left: 0;
}

.battle_title3 {
  width: 30px;
  height: 30px;
  background: white;
  position: absolute;
  top: 0;
  border-radius: 100%;
  border: 1px solid black;
  left: calc(30vw - 30px);
  top: 1890px;
  width: 60vw;
  text-align: center;
  background: none;
  border: none;
  left: 0;
}

.start_overlay {
  width: 100vw;
  height: 100vh;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  transition: 1s;
}

.start_overlay button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  color: white;
  padding: 20px;
  font-size: 3em;
}

.start_overlay button:hover {
  cursor: url(img/active_sword.png), auto;
}
