* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

p {
  font-size: 200px;
}

#timeline {
  background-color: blue;
  height: 100vh;
  width: 60vw;
  overflow: scroll;
}

#timeline svg {
  width: 100%;
  height: auto;
}

#map {
  overflow: scroll;
  height: 60vh;
  width: 40vw;
}

#map img {
  width: 100%;
}

#map img:hover {
  transform: scale(2);
}

#scene {
  background-color: green;
  height: 40vh;
  width: 40vw;

  /* Chris */

  display: grid;
  grid-template-columns: 1fr 1fr;
}
.battleBox {
}
.svg {
  width: 70px;
}
.right {
  float: right;
}
#goodLeft {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: blue;
}
#badRight {
  width: 100%;
  overflow: auto;
  height: 100%;
  background-color: red;
}
.icon {
  animation-name: icon;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

@keyframes icon {
  0% {
    opacity: 0;
    transform: translatex(-5vw);
  }

  25% {
  }

  50% {
    opacity: 1;
  }

  70% {
    transform: translatex(2vw);
  }

  100% {
    transform: translatex(0vw);
  }
}
.right {
  animation-name: right;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

@keyframes right {
  0% {
    opacity: 0;
    transform: translatex(5vw);
  }

  25% {
  }

  50% {
    opacity: 1;
  }

  70% {
    transform: translatex(-2vw);
  }

  100% {
    transform: translateX(0vw);
  }
}
