* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

p {
  font-size: 200px;
}

#timeline {
  background-color: blue;
  height: 100vh;
  width: 60vw;
  overflow: scroll;
}

#timeline svg {
  width: 100%;
  height: auto;
}

#map svg {
  width: 100%;
  height: auto;
  transition: 1s ease-in-out;
}

.zoomin {
  transform: scale(2.6);
}

#map {
  overflow: scroll;
  height: 60vh;
  width: 40vw;
}

#scene {
  background-color: green;
  height: 40vh;
  width: 40vw;
}

.show-location {
  opacity: 1;
}

.colorfill {
  transition: 1s ease-in-out;
}
